<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.powerinv.coss4.competition.mapper.CompGroupMapper">
  <resultMap id="BaseResultMap" type="cn.net.powerinv.coss4.entity.CompGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="comp_id" jdbcType="INTEGER" property="compId" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.net.powerinv.coss4.entity.CompGroup">
    <result column="detail_rule" jdbcType="LONGVARCHAR" property="detailRule" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_name, comp_id, priority, `state`, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    detail_rule
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comp_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comp_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.net.powerinv.coss4.entity.CompGroup">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into comp_group (group_name, comp_id, priority, 
      `state`, create_time, update_time, 
      detail_rule)
    values (#{groupName,jdbcType=VARCHAR}, #{compId,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, 
      #{state,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{detailRule,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.net.powerinv.coss4.entity.CompGroup">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into comp_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupName != null">
        group_name,
      </if>
      <if test="compId != null">
        comp_id,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="detailRule != null">
        detail_rule,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailRule != null">
        #{detailRule,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.powerinv.coss4.entity.CompGroup">
    update comp_group
    <set>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        comp_id = #{compId,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailRule != null">
        detail_rule = #{detailRule,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.net.powerinv.coss4.entity.CompGroup">
    update comp_group
    set group_name = #{groupName,jdbcType=VARCHAR},
      comp_id = #{compId,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      `state` = #{state,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      detail_rule = #{detailRule,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.powerinv.coss4.entity.CompGroup">
    update comp_group
    set group_name = #{groupName,jdbcType=VARCHAR},
      comp_id = #{compId,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      `state` = #{state,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 插入新的竞赛分组 -->
  <insert id="insertWithCheck" parameterType="cn.net.powerinv.coss4.competition.vo.CompGroupDTO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into comp_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupName != null">
        group_name,
      </if>
      <if test="compId != null">
        comp_id,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="detailRule != null">
        detail_rule,
      </if>
    </trim>
    <trim prefix="select " suffix=" from dual" suffixOverrides=",">
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailRule != null">
        #{detailRule,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    where exists
    (
      select * from comp t
      where t.id = #{compId,jdbcType=INTEGER}
      and t.user_id = #{uid,jdbcType=INTEGER}
      and t.comp_state &lt;&gt; 30
    )
  </insert>

  <!-- 更新竞赛分组 -->
  <update id="updateWithCheck" parameterType="cn.net.powerinv.coss4.competition.entity.CompGroupExt">
    update comp_group g
    <set>
      <if test="groupName != null">
        g.group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        g.comp_id = #{compId,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        g.priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        g.`state` = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        g.create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        g.update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailRule != null">
        g.detail_rule = #{detailRule,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where g.id = #{id,jdbcType=INTEGER}
    and exists
    (
      select * from comp t
      where t.id = g.comp_id
      and t.user_id = #{uid,jdbcType=INTEGER}
      and t.comp_state &lt;&gt; 30
      and g.state &lt;&gt; 30
    )
  </update>

  <!-- 查询分组信息 -->
  <select id="selectWithCheck" parameterType="cn.net.powerinv.coss4.competition.entity.CompGroupExt" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comp_group g
    where g.id = #{id,jdbcType=INTEGER}
    and exists
    (
      select * from comp t
      where t.id = g.comp_id
      and t.user_id = #{uid,jdbcType=INTEGER}
      and t.comp_state &lt;&gt; 30
    )
    and g.state &lt;&gt; 30
  </select>

  <!-- 查询指定竞赛的分组列表 -->
  <select id="queryListWithCheck" parameterType="cn.net.powerinv.coss4.competition.vo.CompDTO" resultMap="ResultMapWithBLOBs">
    select g.id, g.group_name, g.comp_id, g.priority, g.`state`, g.create_time, g.update_time, g.detail_rule
    from comp_group g
    left join comp c on c.id = g.comp_id
    where g.comp_id = #{cid,jdbcType=INTEGER}
    and g.state &lt;&gt; 30
    and c.user_id = #{uid,jdbcType=INTEGER}
    order by
    <choose>
      <when test="sortType == 'GROUP_NAME'">
        g.group_name
      </when>
      <when test="sortType == 'ID'">
        g.id
      </when>
      <when test="sortType == 'UPDATE_TIME'">
        g.update_time
      </when>
      <otherwise>
        g.priority
      </otherwise>
    </choose>
    <choose>
      <when test="sortOrder == false">
        DESC
      </when>
      <otherwise>
        ASC
      </otherwise>
    </choose>
  </select>

  <!-- 删除分组 -->
  <update id="deleteGroup" parameterType="cn.net.powerinv.coss4.competition.vo.CompDTO">
    update comp_group g
    set g.`state` = 30,
      g.update_time = #{updateTime,jdbcType=TIMESTAMP}
    where g.id = #{id,jdbcType=INTEGER}
    and exists
    (
      select * from comp t
      where t.id = g.comp_id
      and t.user_id = #{uid,jdbcType=INTEGER}
      and t.comp_state &lt;&gt; 30
      and g.state &lt;&gt; 30
    )
  </update>

</mapper>