<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.powerinv.coss4.entity.mapper.CompMapper">
  <resultMap id="BaseResultMap" type="cn.net.powerinv.coss4.entity.Comp">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="comp_name" jdbcType="VARCHAR" property="compName" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="ending_sign" jdbcType="BIT" property="endingSign" />
    <result column="enter_sign" jdbcType="BIT" property="enterSign" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.net.powerinv.coss4.entity.Comp">
    <result column="detailed_information" jdbcType="LONGVARCHAR" property="detailedInformation" />
  </resultMap>
  <sql id="Base_Column_List">
    id, comp_name, start_time, ending_sign, enter_sign, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    detailed_information
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.net.powerinv.coss4.entity.Comp">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into comp (comp_name, start_time, ending_sign, 
      enter_sign, create_time, update_time, 
      detailed_information)
    values (#{compName,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endingSign,jdbcType=BIT}, 
      #{enterSign,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{detailedInformation,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.net.powerinv.coss4.entity.Comp">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into comp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compName != null">
        comp_name,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endingSign != null">
        ending_sign,
      </if>
      <if test="enterSign != null">
        enter_sign,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="detailedInformation != null">
        detailed_information,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compName != null">
        #{compName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endingSign != null">
        #{endingSign,jdbcType=BIT},
      </if>
      <if test="enterSign != null">
        #{enterSign,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailedInformation != null">
        #{detailedInformation,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.powerinv.coss4.entity.Comp">
    update comp
    <set>
      <if test="compName != null">
        comp_name = #{compName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endingSign != null">
        ending_sign = #{endingSign,jdbcType=BIT},
      </if>
      <if test="enterSign != null">
        enter_sign = #{enterSign,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailedInformation != null">
        detailed_information = #{detailedInformation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.net.powerinv.coss4.entity.Comp">
    update comp
    set comp_name = #{compName,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      ending_sign = #{endingSign,jdbcType=BIT},
      enter_sign = #{enterSign,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      detailed_information = #{detailedInformation,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.powerinv.coss4.entity.Comp">
    update comp
    set comp_name = #{compName,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      ending_sign = #{endingSign,jdbcType=BIT},
      enter_sign = #{enterSign,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>